@{
}

@model BookModel;

<tr>
    <th scope="row">@Model.Title</th>
    <td>@Model.Author</td>
    <td>@Model.Publisher</td>
    <td>@Model.ISBN</td>
    <td>@Model.Classification</td>
    <td>@Model.Category</td>
    <td>@Model.PageCount</td>
    <td>$@Model.Price</td>
    <td>
        <form method="post" asp-page="/Cart">
            <input type="hidden" asp-for="@Model.BookID" />
            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />

            <button type="submit" class="btn btn-success btn-sm">Add</button>
        </form>
    </td>
</tr>