@{
}

@model BookModel

<tr>
    <th scope="row">@Model.Title</th>
    <td>@Model.Author</td>
    <td>@Model.Publisher</td>
    <td>@Model.ISBN</td>
    <td>@Model.Classification</td>
    <td>@Model.Category</td>
    <td>@Model.PageCount</td>
    <td>$@Model.Price</td>
</tr>